This is <%= @foo %>
<br>
<br>
<p>Events Types Count</p>
<%= @eventTypesCount %>
<hr>
<p>Issues Created and Closed Per Month Count</p>
<%= @issuesCreatedClosedPerMonthCountGraph %>
<p><%= @issuesOpenCount %> open issues remain unaccounted in the Closed data series because these issues don't have a closed date value </p>
<hr>
<%= @issuesOpenClosedPerUsedPerMonth %>




