<hr>
This is <%= @foo %>
<br>
<br>

<hr>
<p>Events Types Count</p>
<%= pie_chart(@eventTypesCount) %>

<hr>
<p>Issue Events Types Count</p>
<%= pie_chart(@issueEventTypesCount) %>

<hr>
<p>Issue Event Types Timeline</p>
<%= line_chart [
			{:name => "Closed", :data => @issuesClosedEventHash},
			{:name => "Reopened", :data => @issuesReopenedEventHash},
			{:name => "Subscribed", :data => @issuesSubscribedEventHash},
			{:name => "Merged", :data => @issuesMergedEventHash},
			{:name => "Referenced", :data => @issuesReferencedEventHash},
			{:name => "Mentioned", :data => @issuesMentionedEventHash},
			{:name => "Assigned", :data => @issuesAssignedEventHash},
			],:library => {:hAxis => {:format => 'MMM y'}}%>

<hr>
<p>Events Occurance Timeline</p>
<%= line_chart [
				{:name => "Create", :data => @createEvent},
				{:name => "Fork", :data => @forkEvent},
				{:name => "Release", :data => @releaseEvent},
				{:name => "Issue Comment", :data => @issueCommentEvent},
				{:name => "Watch", :data => @watchEvent},
				{:name => "Issues", :data => @issuesEvent},
				{:name => "Push", :data => @pushEvent},
				{:name => "Commit Comment", :data => @commitCommentEvent},
				{:name => "Pull Request", :data => @pullRequestEvent},
				],:library => {:hAxis => {:format => 'MMM y'}}
				%>

<hr>
<p>Issues Created and Closed Per Month Count</p>
<%= line_chart [
				{:name => "Open", :data => @issuesCreatedMonthCount},
				{:name => "Closed", :data => @issuesClosedMonthCount},
				],:library => {:hAxis => {:format => 'MMM y'}}  # TODO write blog post about dealing with the library function.  Add doc notes to Chartkick about accessing subfunctions.
				%>
<p><%= @issuesOpenCount %> open issues remain unaccounted in the Closed data series because these issues don't have a closed date value </p>


<hr>
<p>Issues Count Assigned to each user</p>
<%= column_chart [
				{:name => "Open", :data => @issueAssignedPerUserOpenCount},
				{:name => "Closed", :data => @issueAssignedPerUserClosedCount},
				]%>


<hr>
<p>Printable Issues List</p>
<table border="1">
	<tr>
		<th>State</th>
		<th>Issue Number</th>
		<th>Milestone</th>
		<th>Issue Title</th>
		<th>Assignee</th>
		<th>Created Date</th>
		<th>Closed Date</th>
		<th>Created By</th>
		<th>Comment Count</th>
		<th>Year to Date Comment Activity</th>
	</tr>
<% @printableData.each do |elem| %>
	<tr>
		<td>
			<%= elem["issueCurrentState"] %>
		</td>
		<td>
			<%= elem["issueNumber"] %>
		</td>
		<td>
			<%= elem["issueAssignedMilestone"] %>
		</td>
		<td>
			<%= elem["issueTitle"] %>
		</td>
		<td>
			<%= elem["issueCurrentAssignee"] %>
		</td>
		<td>
			<%= elem["created_at"] %>
		</td>
		<td>
			<%= elem["closed_at"] %>
		</td>
		<td>
			<%= elem["createdBy"] %> <img src="<%= elem["createdByAvatar"] %>" height="30" width="30">
		</td>
		<td>
			<%= elem["commentsCount"] %>
		</td>
		<td>
			<img src="<%= elem["sparkline"] %>">
		</td>
	</tr>
<% end %>
</table>

