<script src="//www.google.com/jsapi"></script>
<script src="/vendor/chartkick.js"></script>

<h1>Issues Opened/Closed Timeline Analysis</h1>

<div class="container">
	
	<div class="row clearfix">
    <div class="col-md-12 column">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            Repository Information
          </h2>
        </div>
        <div class="panel-body">
          <p><%= @issuesOpenedPerMonth.first["repo"] %></p>
        </div>
<!--         <div class="panel-footer">
          Panel footer
        </div> -->
      </div>
    </div>
  </div>



	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Opened Issues Per Month
					</h3>
				</div>
				<div class="panel-body">

					 <table class="table">
					  <tbody>
					    <tr>
					      <th>Date</th> 
					      <th>Count</th>
					    </tr>
					    <% @issuesOpenedPerMonth.each do |i| %>
					        <tr>
					          <td><%= i["converted_date"].strftime("%B %Y") %></td>
					          <td><%= i["count"] %></td>
					        </tr>
					    <% end %>
					  </tbody>
					</table>

				</div>
<!-- 				<div class="panel-footer">
					Panel footer
				</div> -->
			</div>
		</div>
		<div class="col-md-6 column">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Closed Issues Per Month
					</h3>
				</div>
				<div class="panel-body">
					 
					 <table class="table">
					  <tbody>
					    <tr>
					      <th>Date</th> 
					      <th>Count</th>
					    </tr>
					    <% @issuesClosedPerMonth.each do |i| %>
					        <tr>
					          <td><%= i["converted_date"].strftime("%B %Y") %></td>
					          <td><%= i["count"] %></td>
					        </tr>
					    <% end %>
					  </tbody>
					</table>

				</div>
<!-- 				<div class="panel-footer">
					Panel footer
				</div> -->
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Column Chart of Issues Open/Closed Per Month
					</h3>
				</div>
				<div class="panel-body">
					<%= column_chart ([
						{name: "Opened", data: @issuesOpenedPerMonthChartReady},
						{name: "Closed", data: @issuesClosedPerMonthChartReady}
						]),:library => { hAxis:{format:"#"},:isStacked => true}
					%>
				</div>

<!-- 				<div class="panel-footer">
					Panel footer
				</div> -->
			</div>			
		</div>
	</div>
	

	<hr>
	

	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Opened Issues Per Week
					</h3>
				</div>
				<div class="panel-body">

					 <table class="table">
					  <tbody>
					    <tr>
					      <th>Date</th> 
					      <th>Count</th>
					    </tr>
					    <% @issuesOpenedPerWeek.each do |i| %>
					        <tr>
					          <td><%= i["converted_date"].strftime("Week %U, %Y") %></td>
					          <td><%= i["count"] %></td>
					        </tr>
					    <% end %>
					  </tbody>
					</table>

				</div>
<!-- 				<div class="panel-footer">
					Panel footer
				</div> -->
			</div>
		</div>

		<div class="col-md-6 column">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Closed Issues Per Week
					</h3>
				</div>
				<div class="panel-body">
					 
					 <table class="table">
					  <tbody>
					    <tr>
					      <th>Date</th> 
					      <th>Count</th>
					    </tr>
					    <% @issuesClosedPerWeek.each do |i| %>
					        <tr>
					          <td><%= i["converted_date"].strftime("Week %U, %Y") %></td>
					          <td><%= i["count"] %></td>
					        </tr>
					    <% end %>
					  </tbody>
					</table>

				</div>
<!-- 				<div class="panel-footer">
					Panel footer
				</div> -->
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Column Chart of Issues Open/Closed Per Week
					</h3>
				</div>
				<div class="panel-body">
					<%= column_chart ([
						{name: "Opened", data: @issuesOpenedPerWeekChartReady},
						{name: "Closed", data: @issuesClosedPerWeekChartReady}
						]),:library => { :isStacked => true, hAxis: {showTextEvery:0, format:"#"}, chartArea: {  height:"40%", top:"10%" }
										  }
					%>
				</div>

<!-- 				<div class="panel-footer">
					Panel footer
				</div> -->
			</div>			
		</div>
	</div>	
</div>