<h1>Repository Listing</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Repositories</h2>
	</div>
		<div class="panel-body">
			<p>These are the repositories that you have downloaded</p>
		</div>

	<table class="table">
		<tbody>
			<tr>
				<th>Username</th>
				<th>Repository Name</th>
				<th>Full Repository Name</th>
				<th></th>
			</tr>
			<% @reposList.each do |r| %>
				<tr>
					<td><%= r["username"] %></td>
					<td><%= r["repo"] %></td>
					<td><%= r["repo_name_full"] %></td>
					<td>
						<p><a href="analyze/issues/<%= r["repo_name_full"] %>">Issues Opened/Closed Per User</a></p>
						<p><a href="analyze/issues/statetimeline/<%= r["repo_name_full"] %>">Issues Opened/Closed Analysis</a></p>
						<p><a href="analyze/labels/<%= r["repo_name_full"] %>">Labels Analysis</a></p>
						<p><a href="analyze/issues/events/<%= r["repo_name_full"] %>">Issue Events Analysis</a></p>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>

